a{
    display: block;
}
#nav a:hover {
    left: 0;
}
#nav a {
    position: absolute;
    left: -80px;
    transition: 0.5s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
#a{
  top: 35px;
  background-color: #04AA6D;
}

#b{
  top: 80px;
  background-color: #2196F3;
  margin-top: 15px;
}

#c{
  top: 140px;
  background-color: #f44336;
  margin-top: 15px;
}

#d{
  top: 200px;
  background-color: #555;
  margin-top: 15px;
}
h1{
    margin-left: 90px;
}
p{
    margin-left: 90px;
}